<!DOCTYPE html>
<html>
<head>
 <link rel='stylesheet' href='/styles/css/index.css' />
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
#parent {
   display: table;
   width: 100%;
}
#form_login {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
  

</style>
</head>


<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <div class="w3-right w3-hide-small">
      <a onclick="document.getElementById('partent').style.display='block'"  class="w3-bar-item w3-button">Login</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="pictures/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Guoying's Project</b></span> <span class="w3-hide-small w3-text-light-grey">Welcome</span></h1>
  </div>
</header>

    <div id = partent class = "modal" ">  
      <form id = form_login  class = "modal-content" method="POST" action="/login">
        <div class="container">
          <label>Username:</label>
          <input type="text" class="input" placeholder="Enter Name" name="username"  >
          <label>Password:</label>
          <input type="password" class="input" placeholder="Enter Age" name="password" >

          <button type="submit" >Submit</button>
        </div>
      </form>
    </div>
<script>
var modal1 = document.getElementById('partent');

window.onclick = function(event) {
  event.target.display = "none";
    if (event.target == modal1 ){
        modal1.style.display = "none";
    }
    else if (event.target == modal2 ){
        modal2.style.display = "none";
    }
    else if (event.target == modal3 ){
        modal3.style.display = "none";
    }
}
</script>
</body>
</html>


